.checkboxInput {
    display: none;
}
.labelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:20px 10px 0 10px;
    width: 30%;
    border: black solid 1px;
    border-radius: 25px;
    justify-content: center;
    height: 80px;
}

form label span {
    margin-top: -15px;
    font-family: 'Montserrat', sans-serif;
}
#formActContainer {
    margin-top: -70px;
    display: flex;
    flex-direction: row;
    /* border: red dotted 1px; */
    flex-wrap: wrap;
}
.rowContainer{
    display:flex;
    /* border: yellowgreen 1px dotted; */
    margin: 0px 20px 0px 90px;
}
.formImage{
    width: 80%;
    margin: -2px 18px 6px 18px;
    padding: 2px;
    /* min-width: 60%; */
    /* border: black solid 1px; */
    border-radius: 20px;
 
}
#educationalVideo, #meditation {
    font-size: 13px;
}
#activitiesBtnContainer {
    position: relative;
    top: -30px;
}
#funnyImg, #movieImg {
    min-width: 60%;
    margin: 2px 30px 10px 30px;
}
