/*
 * ImageSlider css File
*/

#carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: red dotted 2px; */
    height: 500px;
}
#ucImgSliderTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: #003575;
}
#imgSliderImg {
    display: relative;
    margin-top: -80px;
    width: 85%;
    border: #003575 solid 4px;
    border-radius: 5px;
}
.ucLikeBtns {
    width: 60%;
    max-width: 40%;
}
#likeBtnsContainer {
    display: flex;
    position: absolute;
    top: 490px;
    justify-content: space-between;
    align-items: center;
    /* border: dotted red 2px; */
    width: 60%;
    height: 100px;
}
#dislikeBtn {
    position: relative;
    top: 20px;
}