/*
 * Head css File
*/
 #hamburgerMenu {
     position: absolute;
     width: 13%;
     top: 10px;
     left: 40px;
 }
#headContainer{
    position: relative;
    top: -20px;
}

#activitiesText {
    position: relative;
    margin-top: -28px;
}


