/*
 * MainUC css File
*/
#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red dotted 1px; */
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 354px;

}
.carousel-caption{
    position: relative;
}
#ucTitleContainer{
    position: relative;
    top: 260px;
}

#content {
    border-radius: 15px;
    margin: 10px;
    width: 300px;
    height: 230px;
    position: relative;
    margin-top: -70px;
}

#btnContainer {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    /* border: red dotted 1px; */
    height: 450px;
}

.ucTitleContainer {
    position: absolute;
    border: #003575 solid 1px;
    top: 10px;
    right: -10px;
    background-color: black;
    border-radius: 5px;
}
.ucTitle {
    position: relative;
    color: white;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    top: 5px;
}