
#progressBarContainer {
    /* border: purple 3px dotted; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 280px;
    /* margin-top: 150px; */
}
#progressBar {
    top: -110px;
    border: black 2px solid;
    box-shadow: 3px 3px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
#ppBtnContainer {
    /* border: yellowgreen dotted 5px; */
    position: absolute;
    top: 200px;
    left: -60px;
    display: none;
}
#ppImgContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 130px;
    /* border: red dotted 2px; */
    margin: 5px;
    width: 98%;
}
.ppImgs {
    width: 18%;
    /* border: red dotted 1px; */
    margin-top: -75px;
}
.segments {
    height: 37px;
    width: 4%;
    background: #0dbd8e;
    background-size: 10px 10px;
    background-position: 50px 50px;
    /* border: red dotted 3px; */
    border-radius: 1px;
}
#segmentContainer{
    display: flex;
    position: absolute;
    top: 11px;
    height: 100px;
    width: 70%;
    /* border: 2px dotted red; */
    justify-content: space-between;
}
#lunch{
    width: 12%;
    background-color: #edb2bb;
    background-image: linear-gradient(45deg, #c92841 25%, transparent 25%, transparent 75%, #c92841 75%), linear-gradient(45deg, #c92841 25%, transparent 25%, transparent 75%, #c92841 75%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.show {
    display: flex;
    position: relative;
    top: -200px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    margin: 0px 20px 0px 0px;
    /* border: yellowgreen dotted 2px; */
}
#startBtn {
    position: relative;
    top: 100px;
    width: 50%;
    height: 180px;
    left: 90px;
}
