/*
 * MainPP css File
*/

.MainPP {
    /* propertys here */
}
#principalContainer{
    display: flex;
    justify-content: center;
    width: 80%;
    border: red dotted 1px;
}
#progressBar {
    position: relative;
    top: 150px;
    width: 100%;
    right: -70px;
}
#ppBtnContainer {
    border: yellowgreen dotted 1px;
    position: relative;
    top: 220px;
    left: -80px;
}