/*
 * MainPP css File
*/

.MainPP {
    /* propertys here */
}
#principalContainer{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
}
#progressBar {
    position: relative;
    top: 150px;
    width: 80%;
}