/*
 * MainAppBe css File
*/

.MainAppBe {
    /* propertys here */
}
.formContainer {
    height: 394px;
    border: red dotted 1px;
    position: relative;
}
.formContainer p {
    font-size: 25px;
}