.formContainer {
    height: 394px;
    /* border: red dotted 1px; */
    position: relative;
}
.formContainer p {
    font-size: 25px;
    margin-top: 120px;
}

#appBehaviorNameInput {
    margin-bottom: 60px;
}
#appBehaviorNextBtnContainer {
    position: absolute;
    top: 375px;
    right: 150px;
}