/*
 * MainCA css File
*/
#caForm {
    height: 220px;
}

.formCaContainer {
    margin-top: -35px;
}

#btnContainer {
    height: 100px;
    /* border: dotted red 1px; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.caIcons {
    margin: 20px 10px 0px 10px;
    padding: 10px;
    /* border: solid black 1px; */
    border-radius: 24px;
    width: 28%;
}

.caInput {
    margin: 15px;
}
#formCaContainer form input {
    position: relative;
    top: -20px;
}