/*
 * MainCA css File
*/

.formCaContainer {
    margin-top: -30px;
}

#btnContainer {
    height: 90px;
    /* border: dotted red 1px; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.caIcons {
    margin: 20px 10px 0px 10px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 24px;
}

.caInput {
    margin: 15px;
}