/*
 * MainCA css File
*/
#caForm {
    border: red dotted 1px;
    height: 220px;
}

.formCaContainer {
    margin-top: 55px;
}

#btnContainer {
    height: 100px;
    /* border: dotted red 1px; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.caIcons {
    margin: 20px 10px 0px 10px;
    padding: 10px;
    /* border: solid black 1px; */
    border-radius: 24px;
}

.caInput {
    margin: 15px;
}